# Processing Twitter sentiment

In [1]:
#set the working directory
import os
os.chdir("/media/dftortosa/Windows/Users/dftor/Documents/diego_docs/industry/data_incubator/capstone_project/")

#check
os.getcwd()

'/media/dftortosa/Windows/Users/dftor/Documents/diego_docs/industry/data_incubator/capstone_project'

## Loading tweet data

We include tweets about the BCE, which is the entity in charge of protecting the value of the euro, but also tweets about debt crisis in Europe, because this can negatively impact the expectations around the euro. Also tweets about the economy of Europe, because this can influence the expectations of economic agents around the Euro. Specially relevant those countries with sovereing debt problems. I have included countries that experienced high interest rates during the 2008 economic crisis (above 6%, e.g., Spain or Greece; [link](https://en.wikipedia.org/wiki/File:Long-term_interest_rates_(eurozone).png)) and countries that currently having a percentage of debt respect GDP above 85.8%, which is the average of the Euro area ([link](https://www.statista.com/statistics/269684/national-debt-in-eu-countries-in-relation-to-gross-domestic-product-gdp/)). This is specially relevant because the BCE not only acts to preserve the value of the euro but to avoid the bankruptcy of the members states, and both goals can be incompatible in certain circumstances (e.g., buy EU debt when at the same time you have to fight against inflation raising the interest rates). It is worth to mention that the Euros can be seen as liabilities that it has respect to those having euros. Of course, today we do not have gold standard, so we cannot go to the ECB ansd ask for an exchange in gold. However, the ECB has a mandate to control the value of the Euro so those with Euros will not lose value, because of this, there is a goal of 2% inflation per year, that is the limit. For example, if for eany reason there is an increase of inflation (e.g., due to high energy prices), the ECB should use its assets to buy Euros and hence remove them from circulation, this would decrease the offer of Euros, and hence increase the value of the currency. But what happens if the ECB has not enough assets to compensate? or he has assets of low quality like for example bonds from European countries with debt problems? The ECB could have difficulties to use gain capitalization through these assets and use it to stabilize Euro's value. The economic agents know this because they can see the balance of the ECB, and they can decide to go away from Euro. This sentiment of the economic agents for the Euro is what I am trying to catch here, using twitter for that.

I am interested in the expectations of the economic agents about the Euro. If mane economic agents think and act in the same way, this is going to influence the demand and value of the currenct. For example, selling their euros because they expect a devaluation of the currency in the near future due to low confidence in Europe's economy. I am trying to capture the echoes of these expectations in twitter.

This would be relevant for any componay interested in the prediction of currencies. If the consideration of the sentiment aroung the currency can help to improve predictions, they could do more advantageous trades. For example, for an american company doing business in Europe.

In [2]:
#read json files about BCE
import pandas as pd
ecb_search = pd.read_json("data/json_files/search_euro_bank_twitter_1999_1_1.json", lines=True)
ecb_hashtag = pd.read_json("data/json_files/hashtag_euro_bank_twitter_1999_1_1.json", lines=True)

We are loading the json files with the tweets as pandas data.frames:

In [3]:
ecb_search

,_type,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,retweetedTweet,quotedTweet,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card
0,snscrape.modules.twitter.Tweet,https://twitter.com/Andy_Sayad/status/15484534...,2022-07-16 23:44:10+00:00,üî•üî•üî•Less than a week left till July 21. All Eur...,üî•üî•üî•Less than a week left till July 21. All Eur...,1548453468989693952,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,0,2,...,NaN,None,NaN,None,None,None,None,[Nordstream1],None,None
1,snscrape.modules.twitter.Tweet,https://twitter.com/rockisland48/status/154844...,2022-07-16 23:29:21+00:00,@AnanSeven1 Not really. His strg sanc‚Äôs agst P...,@AnanSeven1 Not really. His strg sanc‚Äôs agst P...,1548449741373001728,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,0,1,...,NaN,None,1.548427e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,None,None,None
2,snscrape.modules.twitter.Tweet,https://twitter.com/unbanksyETH/status/1548448...,2022-07-16 23:22:47+00:00,QE almost guaranteed (if not already) to be in...,QE almost guaranteed (if not already) to be in...,1548448085549862913,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,0,3,...,NaN,"{'_type': 'snscrape.modules.twitter.Tweet', 'u...",NaN,None,None,None,None,None,None,None
3,snscrape.modules.twitter.Tweet,https://twitter.com/P_CryptoCoin/status/154844...,2022-07-16 23:02:47+00:00,European Central Bank hints at PoW-based crypt...,European Central Bank hints at PoW-based crypt...,1548443053580378114,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,NaN,None,None,None,None,None,None,{'_type': 'snscrape.modules.twitter.SummaryCar...
4,snscrape.modules.twitter.Tweet,https://twitter.com/mendohenriques/status/1548...,2022-07-16 22:50:03+00:00,Opponents of embattled PM Mario Draghi are doi...,Opponents of embattled PM Mario Draghi are doi...,1548439848188489728,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,1,1,...,NaN,None,NaN,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474268,snscrape.modules.twitter.Tweet,https://twitter.com/BBCWorld/status/5929582,2007-03-08 12:52:14+00:00,The European Central Bank raises its key inter...,The European Central Bank raises its key inter...,5929582,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,NaN,None,None,None,None,None,None,None
474269,snscrape.modules.twitter.Tweet,https://twitter.com/BBCBusiness/status/5909477,2007-03-07 18:10:33+00:00,The European Central Bank is expected to raise...,The European Central Bank is expected to raise...,5909477,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,NaN,None,None,None,None,None,None,None
474270,snscrape.modules.twitter.Tweet,https://twitter.com/BBCBusiness/status/5369405,2007-02-08 13:00:17+00:00,The European Central Bank keeps its key intere...,The European Central Bank keeps its key intere...,5369405,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,NaN,None,None,None,None,None,None,None
474271,snscrape.modules.twitter.Tweet,https://twitter.com/BBCWorld/status/5369342,2007-02-08 12:51:03+00:00,The European Central Bank keeps its key intere...,The European Central Bank keeps its key intere...,5369342,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,NaN,None,None,None,None,None,None,None
474272,snscrape.modules.twitter.Tweet,https://twitter.com/BBCBusiness/status/2622813,2007-01-11 12:50:45+00:00,The European Central Bank keeps its key euro...,The European Central Bank keeps its key euro...,2622813,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,1,0,...,NaN,None,NaN,None,None,None,None,None,None,None

In [4]:
#read json files about debt crisis and European economy
debt_crisis_search = pd.read_json("data/json_files/search_eu_debt_crisis_twitter_1999_1_1.json", lines=True)
eu_economy_search = pd.read_json("data/json_files/search_european_union_economy_twitter_1999_1_1.json", lines=True)

In [5]:
#read json files about the economy of specific European countries that had debt problems at some point
    #https://en.wikipedia.org/wiki/European_debt_crisis
iceland_economy_search = pd.read_json("data/json_files/search_iceland_economy_twitter_1999_1_1.json", lines=True)
portugal_economy_search = pd.read_json("data/json_files/search_portugal_economy_twitter_1999_1_1.json", lines=True)
italy_economy_search = pd.read_json("data/json_files/search_italy_economy_twitter_1999_1_1.json", lines=True)
ireland_economy_search = pd.read_json("data/json_files/search_ireland_economy_twitter_1999_1_1.json", lines=True)
greece_economy_search = pd.read_json("data/json_files/search_greece_economy_twitter_1999_1_1.json", lines=True)
spain_economy_search = pd.read_json("data/json_files/search_spain_economy_twitter_1999_1_1.json", lines=True)
cyprus_economy_search = pd.read_json("data/json_files/search_cyprus_economy_twitter_1999_1_1.json", lines=True)
slovenia_economy_search = pd.read_json("data/json_files/search_slovenia_economy_twitter_1999_1_1.json", lines=True)
france_economy_search = pd.read_json("data/json_files/search_france_economy_twitter_1999_1_1.json", lines=True)
belgium_economy_search = pd.read_json("data/json_files/search_belgium_economy_twitter_1999_1_1.json", lines=True)
croatia_economy_search = pd.read_json("data/json_files/search_croatia_economy_twitter_1999_1_1.json", lines=True)

We are going to use also tweets about the different presidents of the ECB during their mandate. This can be another proxy of the sentiment around the institution in charge of preserving the value of the Euro. We only consider tweet for the time window they were presidents of the ECB.

In [6]:
trichet_search = pd.read_json("data/json_files/search_trichet_twitter.json", lines=True)
    #searches for Draghi and Lagarde do not work

We are not using tweets about the USD because it is possible that the demand of US dollars increases (e.g., due to fears of recession and the corresponding search for safe heavens as it still has this reputation), but at the same time people can be unsatified with the way that the FED deals with inflation. In that scenario, the sentiment around USD in twitter would be negative in general, but it its demand can still increases.

In [7]:
#process json file
    #https://www.kaggle.com/code/prathamsharma123/clean-raw-json-tweets-data/notebook
print(ecb_search.shape)
    #as many rows as tweets
    #as many columns as features in each tweet

(474273, 28)

In [8]:
#see features
print(ecb_search.columns)

Index(['_type', 'url', 'date', 'rawContent', 'renderedContent', 'id', 'user',
       'replyCount', 'retweetCount', 'likeCount', 'quoteCount',
       'conversationId', 'lang', 'source', 'sourceUrl', 'sourceLabel', 'links',
       'media', 'retweetedTweet', 'quotedTweet', 'inReplyToTweetId',
       'inReplyToUser', 'mentionedUsers', 'coordinates', 'place', 'hashtags',
       'cashtags', 'card'],
      dtype='object')

In [9]:
#get all columns for the first tweet
print(ecb_search.iloc[0, :])

_type                                  snscrape.modules.twitter.Tweet
url                 https://twitter.com/Andy_Sayad/status/15484534...
date                                        2022-07-16 23:44:10+00:00
rawContent          üî•üî•üî•Less than a week left till July 21. All Eur...
renderedContent     üî•üî•üî•Less than a week left till July 21. All Eur...
id                                                1548453468989693952
user                {'_type': 'snscrape.modules.twitter.User', 'us...
replyCount                                                          1
retweetCount                                                        0
likeCount                                                           2
quoteCount                                                          0
conversationId                                    1548453468989693952
lang                                                               en
source              <a href="http://twitter.com/download/iphone" r...
sourceUrl                          http://twitter.com/download/iphone
sourceLabel                                        Twitter for iPhone
links                                                            None
media                                                            None
retweetedTweet                                                    NaN
quotedTweet                                                      None
inReplyToTweetId                                                  NaN
inReplyToUser                                                    None
mentionedUsers                                                   None
coordinates                                                      None
place                                                            None
hashtags                                                [Nordstream1]
cashtags                                                         None
card                                                             None
Name: 0, dtype: object

In [10]:
#check that the id is unique for each tweet
print(ecb_search["id"].is_unique)
print(ecb_hashtag["id"].is_unique)
print(debt_crisis_search["id"].is_unique)
print(eu_economy_search["id"].is_unique)
print(iceland_economy_search["id"].is_unique)
print(portugal_economy_search["id"].is_unique)
print(italy_economy_search["id"].is_unique)
print(ireland_economy_search["id"].is_unique)
print(greece_economy_search["id"].is_unique)
print(spain_economy_search ["id"].is_unique)
print(cyprus_economy_search["id"].is_unique)
print(slovenia_economy_search["id"].is_unique)
print(france_economy_search["id"].is_unique)
print(belgium_economy_search["id"].is_unique)
print(croatia_economy_search["id"].is_unique)
print(trichet_search["id"].is_unique)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [11]:
#bind data.frames of ecb search and ecb hashtag
tweets_df = ecb_hashtag.append([ecb_search, 
                                debt_crisis_search, 
                                eu_economy_search, 
                                iceland_economy_search,
                                portugal_economy_search,
                                italy_economy_search,
                                ireland_economy_search,
                                greece_economy_search,
                                spain_economy_search ,
                                cyprus_economy_search, 
                                slovenia_economy_search, 
                                france_economy_search,
                                belgium_economy_search,
                                croatia_economy_search,
                                trichet_search])
tweets_df[["id", "date", "rawContent"]]

,id,date,rawContent
0,1548451710472839171,2022-07-16 23:37:11+00:00,Ist der EURO noch zu retten? (EZB in der Zwick...
1,1548449160541548545,2022-07-16 23:27:03+00:00,#ECB Bond Tool Seen Having No Limits as Steepe...
2,1548443968030928899,2022-07-16 23:06:25+00:00,#Digitaleuro to be more efficient as a means o...
3,1548442831143849984,2022-07-16 23:01:54+00:00,#Digitaleuro to be more efficient as a means o...
4,1548442355837022208,2022-07-16 23:00:00+00:00,.@ECB_cricketüè¥Û†ÅßÛ†Å¢Û†Å•Û†ÅÆÛ†ÅßÛ†Åø: England Men name squads ...
...,...,...,...
24622,206053432,2007-08-14 20:03:44+00:00,ECB calls for calm as markets falter: Jean-Cla...
24623,184113892,2007-08-03 08:30:37+00:00,Le dialogue entre BCE et ex√©cutif europ√©en est...
24624,106039372,2007-06-15 17:19:26+00:00,TALK OF PARIS : Talk de Paris - Jean Claude Tr...
24625,106039342,2007-06-15 17:19:24+00:00,TALK OF PARIS : Talk of Paris - Jean Claude Tr...
24626,68467682,2007-05-18 11:02:43+00:00,Jean-Claude Trichet convida o Reino Unido a in...

In [12]:
#reset the indeces to avoid problems when indexing
tweets_df = tweets_df.reset_index(drop=True)
    #use drop drop parameter to avoid the old index being added as a column
tweets_df[["id", "date", "rawContent"]]

,id,date,rawContent
0,1548451710472839171,2022-07-16 23:37:11+00:00,Ist der EURO noch zu retten? (EZB in der Zwick...
1,1548449160541548545,2022-07-16 23:27:03+00:00,#ECB Bond Tool Seen Having No Limits as Steepe...
2,1548443968030928899,2022-07-16 23:06:25+00:00,#Digitaleuro to be more efficient as a means o...
3,1548442831143849984,2022-07-16 23:01:54+00:00,#Digitaleuro to be more efficient as a means o...
4,1548442355837022208,2022-07-16 23:00:00+00:00,.@ECB_cricketüè¥Û†ÅßÛ†Å¢Û†Å•Û†ÅÆÛ†ÅßÛ†Åø: England Men name squads ...
...,...,...,...
2427801,206053432,2007-08-14 20:03:44+00:00,ECB calls for calm as markets falter: Jean-Cla...
2427802,184113892,2007-08-03 08:30:37+00:00,Le dialogue entre BCE et ex√©cutif europ√©en est...
2427803,106039372,2007-06-15 17:19:26+00:00,TALK OF PARIS : Talk de Paris - Jean Claude Tr...
2427804,106039342,2007-06-15 17:19:24+00:00,TALK OF PARIS : Talk of Paris - Jean Claude Tr...
2427805,68467682,2007-05-18 11:02:43+00:00,Jean-Claude Trichet convida o Reino Unido a in...

In [13]:
#check we have the expected number of rows
#tweets_df.shape[0] == ecb_search.shape[0] + ecb_hashtag.shape[0] + debt_crisis_search.shape[0] + eu_economy_search.shape[0] + spain_economy_search.shape[0] + slovenia_economy_search.shape[0]

In [14]:
#release space
del([ecb_search, 
     debt_crisis_search, 
     eu_economy_search, 
     iceland_economy_search,
     portugal_economy_search,
     italy_economy_search,
     ireland_economy_search,
     greece_economy_search,
     spain_economy_search ,
     cyprus_economy_search, 
     slovenia_economy_search, 
     france_economy_search,
     belgium_economy_search,
     croatia_economy_search,
     trichet_search])
import gc
gc.collect()

0

In [15]:
#check for duplicated IDs
tweets_df["id"].duplicated().any()

True

In [16]:
#take a look to one of the duplicated IDs
example_duplicated_id = tweets_df[tweets_df["id"].duplicated()].iloc[2,:].loc["id"] #get the ID

#get the URL for all tweets having the example ID and check if there are identical URLs
tweets_df.loc[tweets_df["id"] == example_duplicated_id, "url"].duplicated().any()
    #tweets with the same ID have the same URL, so they are the same tweet

True

In [17]:
#remove tweets with a duplicated id
tweets_df = tweets_df.drop_duplicates(subset=['id'])
tweets_df.shape

(2336081, 28)

In [18]:
#check languages
import numpy as np
np.unique(tweets_df["lang"])

array(['am', 'ar', 'bg', 'bn', 'ca', 'ckb', 'cs', 'cy', 'da', 'de', 'el',
       'en', 'es', 'et', 'eu', 'fa', 'fi', 'fr', 'gu', 'hi', 'ht', 'hu',
       'hy', 'in', 'is', 'it', 'iw', 'ja', 'ka', 'kn', 'ko', 'lt', 'lv',
       'ml', 'mr', 'my', 'ne', 'nl', 'no', 'or', 'pa', 'pl', 'ps', 'pt',
       'qam', 'qht', 'qme', 'qst', 'ro', 'ru', 'sd', 'si', 'sl', 'sr',
       'sv', 'ta', 'te', 'th', 'tl', 'tr', 'uk', 'und', 'ur', 'vi', 'zh',
       'zxx'], dtype=object)

In [19]:
#see tweets not in english
sum(tweets_df["lang"] != "en")

226488

In [20]:
#select only tweets in english
tweets_df_en = tweets_df[tweets_df["lang"] == "en"]
tweets_df_en.shape
    #CHECK IF THE SENTIMENT MODEL USED CAN DEAL WITH OTHER LANGUAGES

(2109593, 28)

It seems that "rawContent" shows the raw tweet content, while "renderedContent" show the strings that would bet shown by the web app ([link](https://github.com/JustAnotherArchivist/snscrape/issues/479)).

We are going to use the raw tweet because it seem it could have more information. They do not seem to be very different anyways:

In [21]:
tweets_df_en.loc[:, "rawContent"].iloc[0:10,]

1     #ECB Bond Tool Seen Having No Limits as Steepe...
2     #Digitaleuro to be more efficient as a means o...
3     #Digitaleuro to be more efficient as a means o...
4     .@ECB_cricketüè¥Û†ÅßÛ†Å¢Û†Å•Û†ÅÆÛ†ÅßÛ†Åø: England Men name squads ...
5     Another Big Week for Central B(W)ankers Ahead:...
6     Qualified today as an #ECB foundation cricket ...
7     #Jaws is nothing against this:\n\nby @topdownc...
8     #DXY monthly chart: my ultimate view. There is...
9     wow what a moment \n#vitalityblast #ECB @engla...
10    #ECB should take loan from #BCCI to upgrade th...
Name: rawContent, dtype: object

In [22]:
tweets_df_en.loc[:, "renderedContent"].iloc[0:10,]

1     #ECB Bond Tool Seen Having No Limits as Steepe...
2     #Digitaleuro to be more efficient as a means o...
3     #Digitaleuro to be more efficient as a means o...
4     .@ECB_cricketüè¥Û†ÅßÛ†Å¢Û†Å•Û†ÅÆÛ†ÅßÛ†Åø: England Men name squads ...
5     Another Big Week for Central B(W)ankers Ahead:...
6     Qualified today as an #ECB foundation cricket ...
7     #Jaws is nothing against this:\n\nby @topdownc...
8     #DXY monthly chart: my ultimate view. There is...
9     wow what a moment \n#vitalityblast #ECB @engla...
10    #ECB should take loan from #BCCI to upgrade th...
Name: renderedContent, dtype: object

## Sentiment analysis of tweets

We will use VADER to perform the sentiment analysis. There are alternatives like TextBlob, but VADER meets well our requeriments
- It is sensitive to both polarity (positive/negative) and intensity (strength) of emotion.
- you get a positive, negative neutral scores and a compound score 
- labelled data not required because it is pre-trained ([link](https://towardsdatascience.com/sentimental-analysis-using-vader-a3415fef7664), [link](https://towardsdatascience.com/sentiment-analysis-of-tweets-167d040f0583))

In [23]:
#take example tweet
example_tweet = tweets_df_en.loc[1, "rawContent"]

In [24]:
#VADER can be used from vaderSentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

#open instance
analyzer = SentimentIntensityAnalyzer()

#example
print(analyzer.polarity_scores(example_tweet))
print(example_tweet)

{'neg': 0.296, 'neu': 0.704, 'pos': 0.0, 'compound': -0.7184}
#ECB Bond Tool Seen Having No Limits as Steeper Rate Hikes Loom

#MoneyPrinting #Gold #Silver #Stimulus #QE #BailOut #Liquidity #Monetize #Debt #DebtCrisis https://t.co/DiMb7magFj

In [25]:
#or from nlTK
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

#instance
sid = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/dftortosa/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [26]:
#we get similar results
print(sid.polarity_scores(example_tweet))
print(analyzer.polarity_scores(example_tweet))

{'neg': 0.163, 'neu': 0.837, 'pos': 0.0, 'compound': -0.4767}
{'neg': 0.296, 'neu': 0.704, 'pos': 0.0, 'compound': -0.7184}

Define function to clean the tweet text

In [27]:
import re
def clean_tweet(tweet):
    '''
    Utility function to clean tweet text by removing links, special characters
    using simple regex statements.
    '''
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t]) |(\w+:\/\/\S+)", " ", tweet).split()).replace("#", "")

##CHECK REGULAR EXPRESSIONS
#https://www.sciencedirect.com/science/article/pii/S104244312030072X

In [28]:
print(example_tweet)
clean_tweet(example_tweet)

#ECB Bond Tool Seen Having No Limits as Steeper Rate Hikes Loom

#MoneyPrinting #Gold #Silver #Stimulus #QE #BailOut #Liquidity #Monetize #Debt #DebtCrisis https://t.co/DiMb7magFj

'ECB Bond Tool Seen Having No Limits as Steeper Rate Hikes Loom MoneyPrinting Gold Silver Stimulus QE BailOut Liquidity Monetize Debt DebtCrisis'

We are going to use the negative sentiment, not the compound (negative-positive-neutral) sentiment. I think that when things are going well (i.e., no inflation) people tend to think that ECB is just doing its job, or that things are going well **despite** the ECB printing money. However, when things go wrong, they all look at the central bank considering it the main cause of the lose of value of the currency, given it is its main mandate, protect the value of its currency. This is specially relevant in the European Union, where different countries with different economies and interests are included, so for example, ensuring the value of the currency by increase interest rate could make things more difficult for European countries with high debts.

In [50]:
#define function to be applied per row
def sentiment_per_row(raw_tweet):
        
    #clean
    tweet_cleaned = clean_tweet(raw_tweet)
        #import preprocessor as p; p.clean()
    
    #get the negative sentiment
    sentiment = analyzer.polarity_scores(tweet_cleaned)["neg"]

    #return
    return sentiment

In [46]:
import multiprocessing as mp

with mp.Pool(10) as pool:
    tweets_df_en["neg_sentiment"] = pool.map(sentiment_per_row, tweets_df_en["rawContent"])
        #for each row in tweets_df_en["rawContent"], apply sentiment_per_row across 10 cores
        #https://stackoverflow.com/questions/45545110/make-pandas-dataframe-apply-use-all-cores
    pool.close()

/home/dftortosa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [47]:
#get the date and sentiment
sentiment_results_df = tweets_df_en[["date", "neg_sentiment"]]
sentiment_results_df

                             date  neg_sentiment
1       2022-07-16 23:27:03+00:00          0.308
2       2022-07-16 23:06:25+00:00          0.000
3       2022-07-16 23:01:54+00:00          0.000
4       2022-07-16 23:00:00+00:00          0.000
5       2022-07-16 22:12:31+00:00          0.096
...                           ...            ...
2427768 2008-03-07 04:12:04+00:00          0.000
2427769 2008-03-03 19:52:21+00:00          0.000
2427790 2007-09-27 23:21:05+00:00          0.000
2427801 2007-08-14 20:03:44+00:00          0.000
2427804 2007-06-15 17:19:24+00:00          0.000

[2109593 rows x 2 columns]

In [52]:
#leave only year, month and day
sentiment_results_df["date"] = pd.to_datetime(sentiment_results_df["date"].dt.strftime('%Y-%m-%d'))
    #https://stackoverflow.com/questions/38067704/how-to-change-the-datetime-format-in-pandas
    #https://stackoverflow.com/questions/20689288/converting-pandas-columns-to-datetime64-including-missing-values
sentiment_results_df

#CHECK WARNING

/home/dftortosa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              date  neg_sentiment
1       2022-07-16          0.308
2       2022-07-16          0.000
3       2022-07-16          0.000
4       2022-07-16          0.000
5       2022-07-16          0.096
...            ...            ...
2427768 2008-03-07          0.000
2427769 2008-03-03          0.000
2427790 2007-09-27          0.000
2427801 2007-08-14          0.000
2427804 2007-06-15          0.000

[2109593 rows x 2 columns]

In [53]:
#check we have rows ordered in chronologicla order
sentiment_results_df.equals(sentiment_results_df.sort_index())

True

Now let's calculate several metrics for the sentiment of each day and save them in list of data.frames. We can calculate the average, quartiles, std...

In [72]:
sentiment_results_df.groupby("date")["neg_sentiment"].mean()

date
2007-01-11    0.000000
2007-01-15    0.000000
2007-02-08    0.000000
2007-03-07    0.000000
2007-03-08    0.000000
                ...
2022-07-12    0.075525
2022-07-13    0.079810
2022-07-14    0.088123
2022-07-15    0.082533
2022-07-16    0.084722
Name: neg_sentiment, Length: 5281, dtype: float64

In [71]:
sentiment_results_df.groupby("date")["neg_sentiment"].apply(lambda a: (np.percentile(a, 75) - np.percentile(a, 25)))

date
2007-01-11    0.0000
2007-01-15    0.0000
2007-02-08    0.0000
2007-03-07    0.0000
2007-03-08    0.0000
               ...
2022-07-12    0.1280
2022-07-13    0.1320
2022-07-14    0.1525
2022-07-15    0.1520
2022-07-16    0.1450
Name: neg_sentiment, Length: 5281, dtype: float64

In [72]:
sentiment_results_df.groupby("date")["neg_sentiment"].apply(lambda a: np.percentile(a, 75))

date
2007-01-11    0.0000
2007-01-15    0.0000
2007-02-08    0.0000
2007-03-07    0.0000
2007-03-08    0.0000
               ...
2022-07-12    0.1280
2022-07-13    0.1320
2022-07-14    0.1525
2022-07-15    0.1520
2022-07-16    0.1450
Name: neg_sentiment, Length: 5281, dtype: float64

We can see how the IQR is similar to Q3, this is caused because Q1 tends to be around zero.

In [75]:
sentiment_results_df.groupby("date")["neg_sentiment"].apply(lambda a: np.percentile(a, 25)).describe()

count    5281.000000
mean        0.004530
std         0.026723
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         0.379000
Name: neg_sentiment, dtype: float64

In [56]:
#get the most frequent value
from statistics import mode
mode([1,2,3,1,1])

1

In [57]:
#std gives NA for cases with n=1
print(pd.DataFrame([1,1]).std()) #std = 0
print(pd.DataFrame([1,2]).std()) #std = 0.7
print(pd.DataFrame([1]).std()) #std = NaN

0    0.0
dtype: float64
0    0.707107
dtype: float64
0   NaN
dtype: float64

This is solved using ddof=0. ddof is Delta Degrees of Freedom. The divisor used in calculations is N - ddof, where N represents the number of elements

In [58]:
print(pd.DataFrame([1,1]).std(ddof=0)) #std = 0
print(pd.DataFrame([1,2]).std(ddof=0)) #std = 0.7
print(pd.DataFrame([1]).std(ddof=0)) #std = NaN

0    0.0
dtype: float64
0    0.5
dtype: float64
0    0.0
dtype: float64

We get the same results with np.std and .std(ddof=0)

In [59]:
print(np.std([1,1])) #std = 0
print(np.std([1,2])) #std = 0.7
print(np.std([1])) #std = NaN

0.0
0.5
0.0

We are going to use evaluate inside the function in order to perform the different operations we need. For example:

In [73]:
operation="mean"
string_evaluate = 'sentiment_results_df.groupby("date")["neg_sentiment"].' + operation + '().to_frame()'
string_evaluate

'sentiment_results_df.groupby("date")["neg_sentiment"].mean().to_frame()'

In [74]:
eval(string_evaluate)

            neg_sentiment
date
2007-01-11       0.000000
2007-01-15       0.000000
2007-02-08       0.000000
2007-03-07       0.000000
2007-03-08       0.000000
...                   ...
2022-07-12       0.075525
2022-07-13       0.079810
2022-07-14       0.088123
2022-07-15       0.082533
2022-07-16       0.084722

[5281 rows x 1 columns]

We are interested in have a row per day, so we can exactly calculate the sentiment of 1, 10... days ago

In [71]:
#we can use min and max to select the earliest and latest dates
print(np.min(np.unique(sentiment_results_df["date"])))
print(np.max(np.unique(sentiment_results_df["date"])))

2007-01-11T00:00:00.000000000
2022-07-16T00:00:00.000000000

In [60]:
#first calculate the time range from the earliest to latest date
idx = pd.date_range(np.min(np.unique(sentiment_results_df["date"])), 
                    np.max(np.unique(sentiment_results_df["date"])))
idx

DatetimeIndex(['2007-01-11', '2007-01-12', '2007-01-13', '2007-01-14',
               '2007-01-15', '2007-01-16', '2007-01-17', '2007-01-18',
               '2007-01-19', '2007-01-20',
               ...
               '2022-07-07', '2022-07-08', '2022-07-09', '2022-07-10',
               '2022-07-11', '2022-07-12', '2022-07-13', '2022-07-14',
               '2022-07-15', '2022-07-16'],
              dtype='datetime64[ns]', length=5666, freq='D')

In [85]:
#calculate the mean sentiment in tweets per day and then re-index considering all days between the earliest and 
#latest date. Those dates without tweets will have NaN
sentiment_results_df.groupby("date")["neg_sentiment"].mean().reindex(idx, fill_value=np.NaN)

2007-01-11    0.000000
2007-01-12         NaN
2007-01-13         NaN
2007-01-14         NaN
2007-01-15    0.000000
                ...
2022-07-12    0.075525
2022-07-13    0.079810
2022-07-14    0.088123
2022-07-15    0.082533
2022-07-16    0.084722
Freq: D, Name: neg_sentiment, Length: 5666, dtype: float64

You can see how there is a gap without tweets between 11 and 15 of January and, accordingly, the days between have NaN

In [64]:
np.unique(sentiment_results_df["date"])[0:2]

array(['2007-01-11T00:00:00.000000000', '2007-01-15T00:00:00.000000000'],
      dtype='datetime64[ns]')

We can also shift the rows after making an operation per day, i.e., move the value of day 1 to day 2, value of day 2 to day 3, and so on...

In [87]:
#first calculate the average sentiment per day
sentiment_results_df.groupby("date")["neg_sentiment"].mean().reindex(idx, fill_value=np.NaN)

2007-01-11    0.000000
2007-01-12         NaN
2007-01-13         NaN
2007-01-14         NaN
2007-01-15    0.000000
                ...
2022-07-12    0.075525
2022-07-13    0.079810
2022-07-14    0.088123
2022-07-15    0.082533
2022-07-16    0.084722
Freq: D, Name: neg_sentiment, Length: 5666, dtype: float64

In [89]:
#Now shift 2 days, so 2022-07-16 has now the average of the previous day (2022-07-15)
sentiment_results_df.groupby("date")["neg_sentiment"].mean().reindex(idx, fill_value=np.NaN).shift(1)

2007-01-11         NaN
2007-01-12    0.000000
2007-01-13         NaN
2007-01-14         NaN
2007-01-15         NaN
                ...
2022-07-12    0.087720
2022-07-13    0.075525
2022-07-14    0.079810
2022-07-15    0.088123
2022-07-16    0.082533
Freq: D, Name: neg_sentiment, Length: 5666, dtype: float64

Now, we are going to calculate different summary statistics of the sentiment of the previous days (1, 5, 10, 60 days ago):

In [131]:

###CHECK THIS!!!

#define a function to do a given operation grouping by day but considering the a previous date
def groupby_calcs(operation, metric_name, args="", n_previous_days=2):
        
    #get the string with the operation name
    string_evaluate = 'sentiment_results_df.groupby("date")["neg_sentiment"].' + operation + '(' + args + ').to_frame()'
        #do operations for the sentiment of each day and then convert to df

    #evaluate to get the DF with the calculations per day
    data_frame = eval(string_evaluate)
    
    #extract the range of days for which we have data
    time_range = pd.date_range(np.min(np.unique(sentiment_results_df["date"])), 
                        np.max(np.unique(sentiment_results_df["date"])))
    
    #fill with NaN those dates with data
    data_frame = data_frame.reindex(time_range, fill_value=np.NaN)
        #https://stackoverflow.com/questions/15610805/accessing-row-from-previous-day-in-pandas-dataframe-with-apply
    
    #get sentiment of the previous days
    data_frame['neg_sentiment'] = data_frame['neg_sentiment'].shift(n_previous_days)
        #https://stackoverflow.com/questions/19324453/add-missing-dates-to-pandas-dataframe
        
    #reset the index
    data_frame = data_frame.reset_index(level=0)
        #set the index (date) as column 
  
    #change the column name for sentiment
    data_frame = data_frame.rename(columns={'index': 'date', 'neg_sentiment': metric_name + '_neg_sent_previous_' + str(n_previous_days) + '_days'})

    #append the df to the list
    return data_frame
    

def groupby_calcs_across_dates(previous_date):
    
    #define a list of operations to do
    metrics_sentiment = ["quantile_0.1",
                         "quantile_0.25",
                         "quantile_0.35",
                         "quantile_0.50",
                         "quantile_0.65",
                         "quantile_0.75",
                         "quantile_0.9",
                         "mean",
                         "sum",
                         "count", 
                             #this can be useful to control for averages with low number of tweets
                             #but also to consider how much people is talking about europes economy
                         "std"]
    
    list_data_frames = []
    
    #apply each operation
    for metric in metrics_sentiment:
        
        #for std
        if metric == "std":
            #use ddof=0 to get zero for cases with 1 tweet per day (see above)
            result_calc = groupby_calcs(operation=metric, 
                          metric_name=metric, 
                          args='ddof=0', 
                          n_previous_days=previous_date)
        elif "quantile" in metric: #if quantile
            #get the operation name and the quantile number
            operation_name = metric.split("_")[0]
            quantile_number = metric.split("_")[1]
            result_calc = groupby_calcs(operation=operation_name, 
                          metric_name=metric, 
                          args=quantile_number, 
                          n_previous_days=previous_date) 
        else: 
            result_calc = groupby_calcs(operation=metric, 
                          metric_name=metric, 
                          n_previous_days=previous_date)
           
        list_data_frames.append(result_calc)
        
    return list_data_frames

In [155]:
groupby_calcs_across_dates(2)

[           date  quantile_0.1_neg_sent_previous_2_days
 0    2007-01-11                                    NaN
 1    2007-01-12                                    NaN
 2    2007-01-13                                    0.0
 3    2007-01-14                                    NaN
 4    2007-01-15                                    NaN
 ...         ...                                    ...
 5661 2022-07-12                                    0.0
 5662 2022-07-13                                    0.0
 5663 2022-07-14                                    0.0
 5664 2022-07-15                                    0.0
 5665 2022-07-16                                    0.0

 [5666 rows x 2 columns],
            date  quantile_0.25_neg_sent_previous_2_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                     NaN
 2    2007-01-13                                     0.0
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                     0.0
 5662 2022-07-13                                     0.0
 5663 2022-07-14                                     0.0
 5664 2022-07-15                                     0.0
 5665 2022-07-16                                     0.0

 [5666 rows x 2 columns],
            date  quantile_0.35_neg_sent_previous_2_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                     NaN
 2    2007-01-13                                     0.0
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                     0.0
 5662 2022-07-13                                     0.0
 5663 2022-07-14                                     0.0
 5664 2022-07-15                                     0.0
 5665 2022-07-16                                     0.0

 [5666 rows x 2 columns],
            date  quantile_0.50_neg_sent_previous_2_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                     NaN
 2    2007-01-13                                  0.0000
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                  0.0550
 5662 2022-07-13                                  0.0695
 5663 2022-07-14                                  0.0465
 5664 2022-07-15                                  0.0580
 5665 2022-07-16                                  0.0580

 [5666 rows x 2 columns],
            date  quantile_0.65_neg_sent_previous_2_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                     NaN
 2    2007-01-13                                 0.00000
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                 0.09100
 5662 2022-07-13                                 0.11575
 5663 2022-07-14                                 0.09735
 5664 2022-07-15                                 0.10000
 5665 2022-07-16                                 0.11360

 [5666 rows x 2 columns],
            date  quantile_0.75_neg_sent_previous_2_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                     NaN
 2    2007-01-13                                   0.000
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                   0.129
 5662 2022-07-13                                   0.148
 5663 2022-07-14                                   0.124
 5664 2022-07-15                                   0.132
 5665 2022-07-16                                   0.152

 [5666 rows x 2 columns],
            date  quantile_0.9_neg_sent_previous_2_days
 0    2007-01-11                                    NaN
 1    2007-01-12                                    NaN
 2    2007-01-13                                 0.0000
 3    2007-01-14                                    NaN
 4    2007-01-15                                    NaN
 ...         ...                                    ...
 5661 2022-07-12                                 0.2230
 5662 2022-07-13                                 0.2170
 5663 2022-07-14                                 0.2070
 5664 2022-07-15                                 0.2080
 5665 2022-07-16                                 0.2318

 [5666 rows x 2 columns],
            date  mean_neg_sent_previous_2_days
 0    2007-01-11                            NaN
 1    2007-01-12                            NaN
 2    2007-01-13                       0.000000
 3    2007-01-14                            NaN
 4    2007-01-15                            NaN
 ...         ...                            ...
 5661 2022-07-12                       0.079722
 5662 2022-07-13                       0.087720
 5663 2022-07-14                       0.075525
 5664 2022-07-15                       0.079810
 5665 2022-07-16                       0.088123

 [5666 rows x 2 columns],
            date  sum_neg_sent_previous_2_days
 0    2007-01-11                           NaN
 1    2007-01-12                           NaN
 2    2007-01-13                         0.000
 3    2007-01-14                           NaN
 4    2007-01-15                           NaN
 ...         ...                           ...
 5661 2022-07-12                        22.402
 5662 2022-07-13                        47.018
 5663 2022-07-14                        50.904
 5664 2022-07-15                        47.008
 5665 2022-07-16                        69.000

 [5666 rows x 2 columns],
            date  count_neg_sent_previous_2_days
 0    2007-01-11                             NaN
 1    2007-01-12                             NaN
 2    2007-01-13                             1.0
 3    2007-01-14                             NaN
 4    2007-01-15                             NaN
 ...         ...                             ...
 5661 2022-07-12                           281.0
 5662 2022-07-13                           536.0
 5663 2022-07-14                           674.0
 5664 2022-07-15                           589.0
 5665 2022-07-16                           783.0

 [5666 rows x 2 columns],
            date  std_neg_sent_previous_2_days
 0    2007-01-11                           NaN
 1    2007-01-12                           NaN
 2    2007-01-13                      0.000000
 3    2007-01-14                           NaN
 4    2007-01-15                           NaN
 ...         ...                           ...
 5661 2022-07-12                      0.091887
 5662 2022-07-13                      0.094182
 5663 2022-07-14                      0.091935
 5664 2022-07-15                      0.090081
 5665 2022-07-16                      0.100003

 [5666 rows x 2 columns]]

In [255]:
1800+180+180+180+180

2520

In [256]:

list_dates = [1, 5, 10, 30, 60, 100, 120, 150, 260, 300, 360, 540, 720, 900, 1080, 1260, 1440, 1620, 1800]

pool_dates = mp.Pool(processes=10)


list_data_frames = [pool_dates.apply_async(groupby_calcs_across_dates, args=(previous_date,)).get() for previous_date in list_dates]
    #https://stackoverflow.com/questions/42843203/how-to-get-the-result-of-multiprocessing-pool-apply-async

#close the pool
pool_dates.close()

In [257]:
#check we have the correct number of dfs in the list
#len(list_data_frames) == len(metrics_sentiment)*len(list_dates)

In [258]:
type(list_data_frames)

list

In [259]:
list_data_frames[0][0]

           date  quantile_0.1_neg_sent_previous_1_days
0    2007-01-11                                    NaN
1    2007-01-12                                    0.0
2    2007-01-13                                    NaN
3    2007-01-14                                    NaN
4    2007-01-15                                    NaN
...         ...                                    ...
5661 2022-07-12                                    0.0
5662 2022-07-13                                    0.0
5663 2022-07-14                                    0.0
5664 2022-07-15                                    0.0
5665 2022-07-16                                    0.0

[5666 rows x 2 columns]

In [260]:
list_data_frames[1][1]

           date  quantile_0.25_neg_sent_previous_5_days
0    2007-01-11                                     NaN
1    2007-01-12                                     NaN
2    2007-01-13                                     NaN
3    2007-01-14                                     NaN
4    2007-01-15                                     NaN
...         ...                                     ...
5661 2022-07-12                                     0.0
5662 2022-07-13                                     0.0
5663 2022-07-14                                     0.0
5664 2022-07-15                                     0.0
5665 2022-07-16                                     0.0

[5666 rows x 2 columns]

In [261]:
flat_list = [item for sublist in list_data_frames for item in sublist]
flat_list

[           date  quantile_0.1_neg_sent_previous_1_days
 0    2007-01-11                                    NaN
 1    2007-01-12                                    0.0
 2    2007-01-13                                    NaN
 3    2007-01-14                                    NaN
 4    2007-01-15                                    NaN
 ...         ...                                    ...
 5661 2022-07-12                                    0.0
 5662 2022-07-13                                    0.0
 5663 2022-07-14                                    0.0
 5664 2022-07-15                                    0.0
 5665 2022-07-16                                    0.0

 [5666 rows x 2 columns],
            date  quantile_0.25_neg_sent_previous_1_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                     0.0
 2    2007-01-13                                     NaN
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                     0.0
 5662 2022-07-13                                     0.0
 5663 2022-07-14                                     0.0
 5664 2022-07-15                                     0.0
 5665 2022-07-16                                     0.0

 [5666 rows x 2 columns],
            date  quantile_0.35_neg_sent_previous_1_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                     0.0
 2    2007-01-13                                     NaN
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                     0.0
 5662 2022-07-13                                     0.0
 5663 2022-07-14                                     0.0
 5664 2022-07-15                                     0.0
 5665 2022-07-16                                     0.0

 [5666 rows x 2 columns],
            date  quantile_0.50_neg_sent_previous_1_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                  0.0000
 2    2007-01-13                                     NaN
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                  0.0695
 5662 2022-07-13                                  0.0465
 5663 2022-07-14                                  0.0580
 5664 2022-07-15                                  0.0580
 5665 2022-07-16                                  0.0590

 [5666 rows x 2 columns],
            date  quantile_0.65_neg_sent_previous_1_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                 0.00000
 2    2007-01-13                                     NaN
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                 0.11575
 5662 2022-07-13                                 0.09735
 5663 2022-07-14                                 0.10000
 5664 2022-07-15                                 0.11360
 5665 2022-07-16                                 0.11400

 [5666 rows x 2 columns],
            date  quantile_0.75_neg_sent_previous_1_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                   0.000
 2    2007-01-13                                     NaN
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                   0.148
 5662 2022-07-13                                   0.124
 5663 2022-07-14                                   0.132
 5664 2022-07-15                                   0.152
 5665 2022-07-16                                   0.147

 [5666 rows x 2 columns],
            date  quantile_0.9_neg_sent_previous_1_days
 0    2007-01-11                                    NaN
 1    2007-01-12                                 0.0000
 2    2007-01-13                                    NaN
 3    2007-01-14                                    NaN
 4    2007-01-15                                    NaN
 ...         ...                                    ...
 5661 2022-07-12                                 0.2170
 5662 2022-07-13                                 0.2070
 5663 2022-07-14                                 0.2080
 5664 2022-07-15                                 0.2318
 5665 2022-07-16                                 0.2032

 [5666 rows x 2 columns],
            date  mean_neg_sent_previous_1_days
 0    2007-01-11                            NaN
 1    2007-01-12                       0.000000
 2    2007-01-13                            NaN
 3    2007-01-14                            NaN
 4    2007-01-15                            NaN
 ...         ...                            ...
 5661 2022-07-12                       0.087720
 5662 2022-07-13                       0.075525
 5663 2022-07-14                       0.079810
 5664 2022-07-15                       0.088123
 5665 2022-07-16                       0.082533

 [5666 rows x 2 columns],
            date  sum_neg_sent_previous_1_days
 0    2007-01-11                           NaN
 1    2007-01-12                         0.000
 2    2007-01-13                           NaN
 3    2007-01-14                           NaN
 4    2007-01-15                           NaN
 ...         ...                           ...
 5661 2022-07-12                        47.018
 5662 2022-07-13                        50.904
 5663 2022-07-14                        47.008
 5664 2022-07-15                        69.000
 5665 2022-07-16                        53.399

 [5666 rows x 2 columns],
            date  count_neg_sent_previous_1_days
 0    2007-01-11                             NaN
 1    2007-01-12                             1.0
 2    2007-01-13                             NaN
 3    2007-01-14                             NaN
 4    2007-01-15                             NaN
 ...         ...                             ...
 5661 2022-07-12                           536.0
 5662 2022-07-13                           674.0
 5663 2022-07-14                           589.0
 5664 2022-07-15                           783.0
 5665 2022-07-16                           647.0

 [5666 rows x 2 columns],
            date  std_neg_sent_previous_1_days
 0    2007-01-11                           NaN
 1    2007-01-12                      0.000000
 2    2007-01-13                           NaN
 3    2007-01-14                           NaN
 4    2007-01-15                           NaN
 ...         ...                           ...
 5661 2022-07-12                      0.094182
 5662 2022-07-13                      0.091935
 5663 2022-07-14                      0.090081
 5664 2022-07-15                      0.100003
 5665 2022-07-16                      0.094763

 [5666 rows x 2 columns],
            date  quantile_0.1_neg_sent_previous_5_days
 0    2007-01-11                                    NaN
 1    2007-01-12                                    NaN
 2    2007-01-13                                    NaN
 3    2007-01-14                                    NaN
 4    2007-01-15                                    NaN
 ...         ...                                    ...
 5661 2022-07-12                                    0.0
 5662 2022-07-13                                    0.0
 5663 2022-07-14                                    0.0
 5664 2022-07-15                                    0.0
 5665 2022-07-16                                    0.0

 [5666 rows x 2 columns],
            date  quantile_0.25_neg_sent_previous_5_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                     NaN
 2    2007-01-13                                     NaN
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                     0.0
 5662 2022-07-13                                     0.0
 5663 2022-07-14                                     0.0
 5664 2022-07-15                                     0.0
 5665 2022-07-16                                     0.0

 [5666 rows x 2 columns],
            date  quantile_0.35_neg_sent_previous_5_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                     NaN
 2    2007-01-13                                     NaN
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                     0.0
 5662 2022-07-13                                     0.0
 5663 2022-07-14                                     0.0
 5664 2022-07-15                                     0.0
 5665 2022-07-16                                     0.0

 [5666 rows x 2 columns],
            date  quantile_0.50_neg_sent_previous_5_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                     NaN
 2    2007-01-13                                     NaN
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                  0.0710
 5662 2022-07-13                                  0.0660
 5663 2022-07-14                                  0.0675
 5664 2022-07-15                                  0.0550
 5665 2022-07-16                                  0.0695

 [5666 rows x 2 columns],
            date  quantile_0.65_neg_sent_previous_5_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                     NaN
 2    2007-01-13                                     NaN
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                 0.11700
 5662 2022-07-13                                 0.13000
 5663 2022-07-14                                 0.10400
 5664 2022-07-15                                 0.09100
 5665 2022-07-16                                 0.11575

 [5666 rows x 2 columns],
            date  quantile_0.75_neg_sent_previous_5_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                     NaN
 2    2007-01-13                                     NaN
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                 0.14900
 5662 2022-07-13                                 0.15700
 5663 2022-07-14                                 0.14375
 5664 2022-07-15                                 0.12900
 5665 2022-07-16                                 0.14800

 [5666 rows x 2 columns],
            date  quantile_0.9_neg_sent_previous_5_days
 0    2007-01-11                                    NaN
 1    2007-01-12                                    NaN
 2    2007-01-13                                    NaN
 3    2007-01-14                                    NaN
 4    2007-01-15                                    NaN
 ...         ...                                    ...
 5661 2022-07-12                                 0.2351
 5662 2022-07-13                                 0.2203
 5663 2022-07-14                                 0.2156
 5664 2022-07-15                                 0.2230
 5665 2022-07-16                                 0.2170

 [5666 rows x 2 columns],
            date  mean_neg_sent_previous_5_days
 0    2007-01-11                            NaN
 1    2007-01-12                            NaN
 2    2007-01-13                            NaN
 3    2007-01-14                            NaN
 4    2007-01-15                            NaN
 ...         ...                            ...
 5661 2022-07-12                       0.091782
 5662 2022-07-13                       0.091125
 5663 2022-07-14                       0.084819
 5664 2022-07-15                       0.079722
 5665 2022-07-16                       0.087720

 [5666 rows x 2 columns],
            date  sum_neg_sent_previous_5_days
 0    2007-01-11                           NaN
 1    2007-01-12                           NaN
 2    2007-01-13                           NaN
 3    2007-01-14                           NaN
 4    2007-01-15                           NaN
 ...         ...                           ...
 5661 2022-07-12                        51.398
 5662 2022-07-13                        49.025
 5663 2022-07-14                        25.276
 5664 2022-07-15                        22.402
 5665 2022-07-16                        47.018

 [5666 rows x 2 columns],
            date  count_neg_sent_previous_5_days
 0    2007-01-11                             NaN
 1    2007-01-12                             NaN
 2    2007-01-13                             NaN
 3    2007-01-14                             NaN
 4    2007-01-15                             NaN
 ...         ...                             ...
 5661 2022-07-12                           560.0
 5662 2022-07-13                           538.0
 5663 2022-07-14                           298.0
 5664 2022-07-15                           281.0
 5665 2022-07-16                           536.0

 [5666 rows x 2 columns],
            date  std_neg_sent_previous_5_days
 0    2007-01-11                           NaN
 1    2007-01-12                           NaN
 2    2007-01-13                           NaN
 3    2007-01-14                           NaN
 4    2007-01-15                           NaN
 ...         ...                           ...
 5661 2022-07-12                      0.099744
 5662 2022-07-13                      0.097228
 5663 2022-07-14                      0.093738
 5664 2022-07-15                      0.091887
 5665 2022-07-16                      0.094182

 [5666 rows x 2 columns],
            date  quantile_0.1_neg_sent_previous_10_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                     NaN
 2    2007-01-13                                     NaN
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                     0.0
 5662 2022-07-13                                     0.0
 5663 2022-07-14                                     0.0
 5664 2022-07-15                                     0.0
 5665 2022-07-16                                     0.0

 [5666 rows x 2 columns],
            date  quantile_0.25_neg_sent_previous_10_days
 0    2007-01-11                                      NaN
 1    2007-01-12                                      NaN
 2    2007-01-13                                      NaN
 3    2007-01-14                                      NaN
 4    2007-01-15                                      NaN
 ...         ...                                      ...
 5661 2022-07-12                                      0.0
 5662 2022-07-13                                      0.0
 5663 2022-07-14                                      0.0
 5664 2022-07-15                                      0.0
 5665 2022-07-16                                      0.0

 [5666 rows x 2 columns],
            date  quantile_0.35_neg_sent_previous_10_days
 0    2007-01-11                                      NaN
 1    2007-01-12                                      NaN
 2    2007-01-13                                      NaN
 3    2007-01-14                                      NaN
 4    2007-01-15                                      NaN
 ...         ...                                      ...
 5661 2022-07-12                                      0.0
 5662 2022-07-13                                      0.0
 5663 2022-07-14                                      0.0
 5664 2022-07-15                                      0.0
 5665 2022-07-16                                      0.0

 [5666 rows x 2 columns],
            date  quantile_0.50_neg_sent_previous_10_days
 0    2007-01-11                                      NaN
 1    2007-01-12                                      NaN
 2    2007-01-13                                      NaN
 3    2007-01-14                                      NaN
 4    2007-01-15                                      NaN
 ...         ...                                      ...
 5661 2022-07-12                                   0.0375
 5662 2022-07-13                                   0.0490
 5663 2022-07-14                                   0.0420
 5664 2022-07-15                                   0.0630
 5665 2022-07-16                                   0.0625

 [5666 rows x 2 columns],
            date  quantile_0.65_neg_sent_previous_10_days
 0    2007-01-11                                      NaN
 1    2007-01-12                                      NaN
 2    2007-01-13                                      NaN
 3    2007-01-14                                      NaN
 4    2007-01-15                                      NaN
 ...         ...                                      ...
 5661 2022-07-12                                  0.08300
 5662 2022-07-13                                  0.09070
 5663 2022-07-14                                  0.08230
 5664 2022-07-15                                  0.12400
 5665 2022-07-16                                  0.10465

 [5666 rows x 2 columns],
            date  quantile_0.75_neg_sent_previous_10_days
 0    2007-01-11                                      NaN
 1    2007-01-12                                      NaN
 2    2007-01-13                                      NaN
 3    2007-01-14                                      NaN
 4    2007-01-15                                      NaN
 ...         ...                                      ...
 5661 2022-07-12                                  0.12425
 5662 2022-07-13                                  0.11750
 5663 2022-07-14                                  0.11950
 5664 2022-07-15                                  0.15800
 5665 2022-07-16                                  0.14075

 [5666 rows x 2 columns],
            date  quantile_0.9_neg_sent_previous_10_days
 0    2007-01-11                                     NaN
 1    2007-01-12                                     NaN
 2    2007-01-13                                     NaN
 3    2007-01-14                                     NaN
 4    2007-01-15                                     NaN
 ...         ...                                     ...
 5661 2022-07-12                                  0.2061
 5662 2022-07-13                                  0.2004
 5663 2022-07-14                                  0.1926
 5664 2022-07-15                                  0.2380
 5665 2022-07-16                                  0.2069

 [5666 rows x 2 columns],
            date  mean_neg_sent_previous_10_days
 0    2007-01-11                             NaN
 1    2007-01-12                             NaN
 2    2007-01-13                             NaN
 3    2007-01-14                             NaN

In [262]:
##merge all data.frames
from functools import reduce

#merge them using reduce
df_merged = reduce(lambda left, right: pd.merge(left, right, on=['date'], how='inner'), [element for element in flat_list])
    #leave only those rows having date in the datasets of currency value and sentiment
    #https://stackoverflow.com/questions/44327999/python-pandas-merge-multiple-dataframes
df_merged
    #note that here the previous eur pricing can be different than the eur pricing of the previous row
    #because when merging we lose days without tweet sentiment, so there is no longer continuous days

,date,quantile_0.1_neg_sent_previous_1_days,quantile_0.25_neg_sent_previous_1_days,quantile_0.35_neg_sent_previous_1_days,quantile_0.50_neg_sent_previous_1_days,quantile_0.65_neg_sent_previous_1_days,quantile_0.75_neg_sent_previous_1_days,quantile_0.9_neg_sent_previous_1_days,mean_neg_sent_previous_1_days,sum_neg_sent_previous_1_days,...,quantile_0.25_neg_sent_previous_1800_days,quantile_0.35_neg_sent_previous_1800_days,quantile_0.50_neg_sent_previous_1800_days,quantile_0.65_neg_sent_previous_1800_days,quantile_0.75_neg_sent_previous_1800_days,quantile_0.9_neg_sent_previous_1800_days,mean_neg_sent_previous_1800_days,sum_neg_sent_previous_1800_days,count_neg_sent_previous_1800_days,std_neg_sent_previous_1800_days
0,2007-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-01-12,0.0,0.0,0.0,0.0000,0.00000,0.000,0.0000,0.000000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2007-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2007-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5661,2022-07-12,0.0,0.0,0.0,0.0695,0.11575,0.148,0.2170,0.087720,47.018,...,0.0,0.0,0.0,0.10525,0.16100,0.2705,0.080339,14.943,186.0,0.117211
5662,2022-07-13,0.0,0.0,0.0,0.0465,0.09735,0.124,0.2070,0.075525,50.904,...,0.0,0.0,0.0,0.09570,0.16125,0.2488,0.080266,15.411,192.0,0.112713
5663,2022-07-14,0.0,0.0,0.0,0.0580,0.10000,0.132,0.2080,0.079810,47.008,...,0.0,0.0,0.0,0.00000,0.14100,0.2330,0.064985,13.257,204.0,0.099065
5664,2022-07-15,0.0,0.0,0.0,0.0580,0.11360,0.152,0.2318,0.088123,69.000,...,0.0,0.0,0.0,0.08530,0.13150,0.2166,0.069034,10.148,147.0,0.104567
5665,2022-07-16,0.0,0.0,0.0,0.0590,0.11400,0.147,0.2032,0.082533,53.399,...,0.0,0.0,0.0,0.07180,0.17000,0.3188,0.090024,15.214,169.0,0.138179

In [263]:
df_merged = df_merged.dropna()
df_merged

,date,quantile_0.1_neg_sent_previous_1_days,quantile_0.25_neg_sent_previous_1_days,quantile_0.35_neg_sent_previous_1_days,quantile_0.50_neg_sent_previous_1_days,quantile_0.65_neg_sent_previous_1_days,quantile_0.75_neg_sent_previous_1_days,quantile_0.9_neg_sent_previous_1_days,mean_neg_sent_previous_1_days,sum_neg_sent_previous_1_days,...,quantile_0.25_neg_sent_previous_1800_days,quantile_0.35_neg_sent_previous_1800_days,quantile_0.50_neg_sent_previous_1800_days,quantile_0.65_neg_sent_previous_1800_days,quantile_0.75_neg_sent_previous_1800_days,quantile_0.9_neg_sent_previous_1800_days,mean_neg_sent_previous_1800_days,sum_neg_sent_previous_1800_days,count_neg_sent_previous_1800_days,std_neg_sent_previous_1800_days
1901,2012-03-26,0.0,0.0,0.0,0.0780,0.21300,0.25975,0.2833,0.128527,33.417,...,0.089,0.089,0.089,0.08900,0.08900,0.0890,0.089000,0.089,1.0,0.000000
1946,2012-05-10,0.0,0.0,0.0,0.0840,0.12200,0.18600,0.2920,0.109760,68.271,...,0.000,0.000,0.000,0.00000,0.00000,0.0000,0.000000,0.000,9.0,0.000000
1962,2012-05-26,0.0,0.0,0.0,0.1410,0.18800,0.20775,0.2860,0.127724,112.142,...,0.000,0.000,0.000,0.00000,0.00000,0.0000,0.000000,0.000,1.0,0.000000
1976,2012-06-09,0.0,0.0,0.0,0.0000,0.10400,0.17800,0.2860,0.089692,259.657,...,0.000,0.000,0.000,0.00000,0.00000,0.0000,0.000000,0.000,1.0,0.000000
1979,2012-06-12,0.0,0.0,0.0,0.0890,0.15600,0.22900,0.3480,0.127561,155.752,...,0.000,0.000,0.000,0.00000,0.00000,0.0000,0.000000,0.000,1.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5661,2022-07-12,0.0,0.0,0.0,0.0695,0.11575,0.14800,0.2170,0.087720,47.018,...,0.000,0.000,0.000,0.10525,0.16100,0.2705,0.080339,14.943,186.0,0.117211
5662,2022-07-13,0.0,0.0,0.0,0.0465,0.09735,0.12400,0.2070,0.075525,50.904,...,0.000,0.000,0.000,0.09570,0.16125,0.2488,0.080266,15.411,192.0,0.112713
5663,2022-07-14,0.0,0.0,0.0,0.0580,0.10000,0.13200,0.2080,0.079810,47.008,...,0.000,0.000,0.000,0.00000,0.14100,0.2330,0.064985,13.257,204.0,0.099065
5664,2022-07-15,0.0,0.0,0.0,0.0580,0.11360,0.15200,0.2318,0.088123,69.000,...,0.000,0.000,0.000,0.08530,0.13150,0.2166,0.069034,10.148,147.0,0.104567
5665,2022-07-16,0.0,0.0,0.0,0.0590,0.11400,0.14700,0.2032,0.082533,53.399,...,0.000,0.000,0.000,0.07180,0.17000,0.3188,0.090024,15.214,169.0,0.138179

In [264]:
#check that all days with just 1 tweet have std=0
#np.unique(df_merged[df_merged["count_neg_sent"] == 1]["std_neg_sent"]) == 0

In [265]:
'''
##plot the metrics
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

#for each metric
for metric in metrics_sentiment:
    
    #open a plot with two panels
    fig, (ax1, ax2) = plt.subplots(1,2, figsize=(15,4))

    #plot scatter against date and eur pricing
    ax1.scatter(x=df_merged["date"], y=df_merged[metric + "_neg_sent"], s=0.5)
    ax2.scatter(x=df_merged["percent_change_pricing"], y=df_merged[metric + "_neg_sent"], s=0.5)
    
    #set ylabel
    ax1.set_ylabel(metric + " negative sentiment")
    ax1.set_xlabel("Year")
    ax2.set_ylabel(metric + " negative sentiment")
    ax2.set_xlabel("Percent change in EUR/USD exchange rate")
    
    #close
    plt.show()
'''

'\n##plot the metrics\nimport matplotlib.pyplot as plt\nfrom matplotlib.pyplot import figure\n\n#for each metric\nfor metric in metrics_sentiment:\n    \n    #open a plot with two panels\n    fig, (ax1, ax2) = plt.subplots(1,2, figsize=(15,4))\n\n    #plot scatter against date and eur pricing\n    ax1.scatter(x=df_merged["date"], y=df_merged[metric + "_neg_sent"], s=0.5)\n    ax2.scatter(x=df_merged["percent_change_pricing"], y=df_merged[metric + "_neg_sent"], s=0.5)\n    \n    #set ylabel\n    ax1.set_ylabel(metric + " negative sentiment")\n    ax1.set_xlabel("Year")\n    ax2.set_ylabel(metric + " negative sentiment")\n    ax2.set_xlabel("Percent change in EUR/USD exchange rate")\n    \n    #close\n    plt.show()\n'

Mean shows that low currency values tend to be associated with high negative sentiment. As the value increase, there is more variation. With more negative but specially much more less negative days. This is even clearer for max. The main difference is that high currency values are associated with a lot of 0 negative days.

It seems that once economic problems arise, then worries extend across economic agents and hence twitter, making less likely to have positive/neutral tweets.

In [266]:
#save the final data.frame with all metrics and eur pricing
df_merged.to_csv("results/twitter_sentiment_data.csv.gz", compression="gzip", index=False)
#df_merged = pd.read_csv("results/twitter_sentiment_data.csv.gz", compression="gzip")